@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: "space-grotesk";
    src: url("/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

:root{
    /*Color palette*/
    --eerie-black: rgba(24, 24, 25, 1);
    --celadon: rgba(153, 228, 187, 1);
    --silver: rgb(190, 197, 192);
    --dark-silver: rgb(108, 110, 108);

    /*Spacing*/
    --xxs-spacing:.25rem;
    --xs-spacing:.5rem;
    --s-spacing:.75rem;
    --m-spacing:1rem;
    --l-spacing:1.25rem;
    --xl-spacing:1.75rem;
    --xxl-spacing:2.5rem;
}

body{
    font-family: "space-grotesk";
    background-color: var(--eerie-black);
    color: var(--celadon);
}

h1{
    font-size: clamp(2rem,4vw,4vw);
    font-weight: 600;
    line-height: clamp(2.2rem,4.5vw,4.5vw);
}

h2{
    font-size: clamp(1.7rem,3vw,3vw);
    font-weight: 500;
    line-height: clamp(2rem,3.3vw,3.3vw);
}

.subtitle{
    color: var(--silver);
}

p,ul{
    color: var(--silver);
    font-size: 1.1rem;
}
